* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.headerContainer {
    background: #0d0f0c;
    color: #d8d4c8;
    font-family: Arial, sans-serif;
}

.hero {
    height: 82vh;
    min-height: 550px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #1c1c16 0%, #565448 100%);
}



.hero::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #0d0f0c;

    clip-path: polygon(
        0 0,
        100% 0,
        100% 18%,
        10% -2%
    );

  
    z-index: 2;
}
.hero::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    background: #0d0f0c;

    clip-path: polygon(
        0 78%,
        110% 96%,
        100% 100%,
        0 100%
    );

    z-index: 2;
}


.heroInner {
    position: relative;

    width: min(1200px, 90%);
    height: 100%;

    margin: 0 auto;
}

.intro {
    position: absolute;

    left: 5%;
    top: 14%;

    z-index: 3;
}


.title {
    display: block;

    font-size: 16px;
    line-height: 1;

    margin-bottom: 18px;

    color: #d8d4c8;
}


/* Main name */
h1 {

    font-weight: 300;

    font-size: 80px;

    line-height: 0.91;

    letter-spacing: 0.015em;

    color: #d8d4c8;
}


/* Horizontal line under name */
.divider {
    width: 460px;
    height: 1px;

    background: #77786f;

    margin-top: 21px;
    margin-bottom: 20px;
}


/* Small information */

.details {
    font-size: 12px;
    line-height: 1.55;

    color: #c1beb4;
}

.details p {
    margin-bottom: 9px;
}


/* ========================= PORTRAIT ========================= */
.portrait {
    position: absolute;

    width: 50%;
    right: 0%;
    bottom: 2%;

    z-index: 1;
}

.portrait img {
    display: block;

    width: 730px;
    height: auto;

    object-fit: contain;
}

.gerImg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


/* ========================= Nav-FOOTER ========================= */

.nav-footer {
    position: relative;

    width: min(1200px, 90%);

    margin: 0 auto;

    font-size: 9px;
    line-height: 1.7;

    color: #aaa89f;
}


.nav-footer strong {
    color: #d2d0c8;
    font-weight: normal;
}

.address {
    font-size: 12px;

    margin-top: 10px;
    margin-bottom: 40px;
}

.heroIt {
    font-style: italic;
}

.contact {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px 22px;
    font-size: 12px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
}


.contact a {
    color: #d2d0c8;

    text-decoration: underline;
    text-decoration-color: #75858c;
}


/* ========================= CONTENT ========================= */

.parentContentContainer {
    background: #fff4e1;
    border-bottom: 1px solid #00000075;
    height: 90px;
}

.contentContainer {
    width: min(1200px, 90%);
    height: 80px;
    background: #fff4e1;


    display: flex;
    justify-content: start;
    align-items: center;
    
    position: relative;
    margin: 0 auto;
    line-height: 1.7;

    font-size: 14px;
}

.secText {
    width: 55%;
    padding: 30px 0 10px 0;
}

.parentPositionsContainer {
    width: 100%;
    background: linear-gradient(180deg, #e8decc 0%, #fff4e1 100%);
}

.positionsSection {
    width: min(1200px, 90%);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: start;
    padding: 40px 0;
}

.sectionTitle {
    width: 40%;
    padding: 10px;
    font-size: 35px;
    font-weight: lighter;
}
.padAdding{
    padding: 20px 0 0 110px;
}
.positionsList{
    width: 60%;
    padding: 10px;
}

.wrapListText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 16px;
}

.listText {
    width: 70%;
}
.positionTitle {
    font-weight: bold;
    padding: 10px 0;
}
.positionSubTitle {
    font-weight: lighter;
    font-size: 14px;
}
.positionPage {
    font-weight: lighter;
    font-size: 20px;
    padding: 10px 0;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* ========================= BLACK ========================= */

.parentBlackContainer {
    width: 100%;
    height: 320px;

    background: #000000;

    position: relative;
    z-index: 5;

    overflow: visible;
}


.blackContainer {
    width: min(1200px, 90%);
    height: 100%;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    position: relative;
}


/* ========================= IMAGES ========================= */

.blackImage {
    width: 350px;
    height: 400px;
    position: absolute;
    top: -40px;
    z-index: 10;
}


.blackImage img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;

    border: 1px solid #11120D80;
    border-radius: 10px;
}


/* Left image */
.leftImage {
    left: 0;
}


/* Right image */
.rightImage {
    right: 0;
}


/* ========================= CENTER TEXT ========================= */

.blackText {
    grid-column: 2;

    width: 100%;

    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    color: #fff4e1;

    z-index: 3;
}


.blackText h3 {
    font-size: 20px;

    font-weight: bold;

    margin: 0;

    line-height: 1.3;
}


.blackText p {
    font-size: 23px;

    font-weight: 300;

    line-height: 1.45;

    margin: 25px 0;

    color: #d8d4c8;
}


.blackDivider {
    width: 235px;

    height: 1px;

    background: #77786f;

    margin: 14px 0;
}

/* ========================= 2ND TEXT SECTION ========================= */

.parentContentSection {
    background: #fff4e1;
    border-bottom: 1px solid #00000075;
    height: 200px;
}

.contentSection {
    width: min(1200px, 90%);
    height: 100%;

    background: #fff4e1;

    display: flex;
    align-items: flex-end;

    position: relative;
    margin: 0 auto;

    line-height: 1.7;
    font-size: 14px;
}

.secText2 {
    width: 55%;
    margin-bottom: 20px;
}
/* ========================= MOBILE ========================= */

@media (max-width: 700px) {

    .hero {
        height: 760px;
        min-height: 760px;
    }

    .hero::before {
        clip-path: polygon(
            0 0,
            100% 1%,
            100% 88%,
            0 78%
        );
    }

    .heroInnerfg {
        width: 88%;
    }

    .intro {
        top: 9%;
    }

    h1 {
        font-size: 48px;
    }

    .divider {
        width: 300px;
    }

    .portrait {
        width: 88%;

        right: -14%;
        bottom: 5%;
    }

    .nav-footer {
        width: 88%;
    }

    .contact {
        display: block;
    }

    .contact span {
        display: block;
        margin-bottom: 8px;
    }
}